<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search 10-K Filings</title>
</head>
<body>
    <h1>Search for Company 10-K Filings</h1>
    <form action="/search" method="post">
        <label for="ticker">Enter Company Ticker:</label>
        <input type="text" id="ticker" name="ticker" required>
        <hr>
        <label for="ticker">Enter the year:</label>
        <input type="text" id="year" name="year" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
